<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mini Project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" >Inventory Control System</a>
      
     </div>
    <div>
      <ul class="nav navbar-nav"><br>
        <%= link_to 'customer', new_customer_path %> -
	<%= link_to 'order', new_order_path %>  -
	<%= link_to 'product', new_product_path %> -
	<%= link_to 'include', new_include_path %>  -
        <a href="http://www.facebook.com">Sign in</a> -
        </ul>
    </div>
  </div>
</nav>
<%= image_tag("1.jpg", :alt => "") %>
<%= yield %><br>
<%= image_tag("3.gif", :alt => "") %>

</body>
</html>
